apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-web-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-harbor-web
  template:
    metadata:
      labels:
        app: my-harbor-web
    spec:
      containers:
        - name: web-container
          # [중요] Harbor에 PUSH된 이미지 주소
          image: 10.202.23.120:80/my-apps/my-web:1.0

          ports:
            - containerPort: 80  # Dockerfile의 EXPOSE 80 포트와 일치해야 함

          env:  # ✅ 반드시 ports와 같은 수준
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name

            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP

            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName

---
apiVersion: v1
kind: Service
metadata:
  name: my-web-service
spec:
  type: NodePort  # 외부 접근을 위해 NodePort 사용
  selector:
    app: my-harbor-web  # 위 Deployment의 파드를 선택
  ports:
    - protocol: TCP
      port: 80          # 서비스 내부 포트
      targetPort: 80    # 컨테이너의 containerPort
      # nodePort는 30000~32767 사이 자동 할당

